Django==1.6.5
south==1.0
nodeenv
django-mptt
Pillow
pytils
requests==2.3.0
psycopg2
bootstrap-admin==0.3.0
django-registration==1.0
django-supervisor==0.3.2
django-dbbackup==1.80.2
django-redis==3.7.0
django-celery==3.1.10
tornado==4.0.1
django-flatblocks==0.7.1
django-modeltranslation==0.7.3
solid_i18n==0.4.2
django-rosetta==0.7.4
django-wysiwyg-redactor==0.4.0
django-admin-langswitch
django-compressor
django-recaptcha
fabric
django_extensions
selenium==2.44
pyrg==0.2.6
django-ckeditor-updated==4.4.4
