{% extends 'base.html' %}
{% block meta_title %}{{ page.seo_title }}{% endblock %}
{% block meta_description %}{{ page.seo_content }}{% endblock %}
{% block meta_keywords %}{{ page.seo_keywords }}{% endblock %}
{% load in_armenian_tag %}
{% load journal_armenian_tag %}
{% load in_daily_tag %}
{% load in_pressa_tag %}
{% load new_pressa_tag %}
{% load book_tag %}
{% load i18n %}
{% load staticfiles %}
{% block js %}

   
    <script src="{% static "js/jquery.jcarousel.min.js" %}"></script>
    <script src="{% static "js/jcarousel.responsive.js" %}"></script>
    <script src="{% static "js/rss.js" %}"></script>
{% endblock %}

{% block css %}
  
   <link rel="stylesheet" media="all" type="text/css" href="/static/css/jcarousel.responsive.css">
{% endblock %}




       {% block 'content' %}
           

        
         
          
           <h2> {% trans 'Армянские издания' %} </h2>
            {% in_armenian_tag %}
            
           <h2> {% trans 'Журналы Армении' %} </h2>
            {% journal_armenian_tag %}         

            <div id="results_rss" style="background: #fff; border: 1px solid #981B1E; padding: 2px;"></div>  

   
           
           <h2> {% trans 'Ежедневные издания' %} </h2>
           {% in_daily_tag %}
           
           <h2> {% trans 'Журналы РФ' %} </h2>
           {% in_pressa_tag %}
           
 
            <h2> {% trans 'Часто просматриваемые издания' %} </h2>
            <div style="clear: both"> </div>
           {% new_pressa_tag %}
  

 
            <h2> {% trans 'Книги' %} </h2>
            <div style="clear: both"> </div>
           {% book_tag %}


           
       {% endblock %}
