{% load staticfiles %}
{% load catalog_tag %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}  
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<title>{% block meta_title %}{% endblock %}</title>
   <meta name="description" content="{% block meta_description %}{% endblock %}">

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<link rel="stylesheet" type="text/css" href="{% static "library/bootstrap/dist/css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<script src="{% static "/static/library/jquery/jquery.min.js" %}"></script>
</head>
<body ng-app="{% block ng_app %}example.app.static{% endblock %}">



      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

          <div class="container">

            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'home' %}">{% trans 'pressinfo.am' %}</a>
   
            
            </div>
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="float: right">
                
                
                  <li><a href="{% url 'page' 'about' %}">{% trans 'About us' %}</a></li>
                   <li><a href="{% url 'page' 'advertiser' %}">{% trans 'For advertiser' %}</a></li>
                    <li><a href="{% url 'page' 'agreement' %}">{% trans 'User agreement' %}</a></li>
                     <li><a href="{% url 'page' 'privacy' %}">{% trans 'Privacy' %}</a></li>
                      <li><a href="{% url 'page' 'publisher' %}">{% trans 'For publisher' %}</a></li>
                       <li><a href="{% url 'page' 'help' %}">{% trans 'Help' %}</a></li>
                  <li><a href="{% url 'page' 'contact' %}">{% trans 'Contacts' %}</a></li>
                {% if user.is_authenticated %}
                  <li><a class="logBtn regOne" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>{% trans 'Logout' %}</a></i></li>
                {% else %}
                  <li><a class="logBtn regOne" href="{% url 'login' %}"><i class="fa fa-sign-out"></i>{% trans 'Login' %}</a></i></li>
                  <li><a class="logBtn regOne" href="{% url 'registration_register' %}"><i class="fa fa-sign-out"></i>{% trans 'Registration' %}</a></i></li>
                {% endif %}
                    {% if LANGUAGE_CODE == 'ru' %}
                        <li>
                            <a href="{% url 'main.views.change_language' %}?language=hy&next={{request.get_full_path}}">
                               {% trans 'Armenian' %}
                            </a>
                         </li><li>
                            <a href="{% url 'main.views.change_language' %}?language=en&next={{request.get_full_path}}">
                               {% trans 'English' %}
                            </a>                           
                        </li>
                    {% endif %}
                    {% if LANGUAGE_CODE == 'hy' %}
                      <li>
                            <a href="{% url 'main.views.change_language' %}?language=ru&next={{request.get_full_path}}">
                               {% trans 'Russian' %}
                            </a>
                       </li><li>
                            <a href="{% url 'main.views.change_language' %}?language=en&next={{request.get_full_path}}">
                               {% trans 'English' %}
                            </a>
                      </li>
                    {% endif %}
                    {% if LANGUAGE_CODE == 'en' %}
                        <li>
                           <a href="{% url 'main.views.change_language' %}?language=ru&next={{request.get_full_path}}">
                               {% trans 'Russian' %}
                           </a>
                        </li><li>
                            <a href="{% url 'main.views.change_language' %}?language=hy&next={{request.get_full_path}}">
                               {% trans 'Armenian' %}
                            </a>
                       </li>
                    {% endif %}                 
            </ul>
           
            </div><!--/.navbar-collapse -->
          </div>
      </div>


<div class="row" style="margin: 60px 10px 0 10px; ">
    <div class="col-md-3 well">
        {% catalog_tag %}
    </div>

    <div class="col-md-9">
        <div class="well">
              {% block 'content' %}

              {% endblock %}
        </div>
    </div>
</div>

</body>
</html>
