{% load staticfiles %}
{% load catalog_tag %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}  
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<title>{% block meta_title %}{% endblock %}</title>
   <meta name="description" content="{% block meta_description %}{% endblock %}">

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<link rel="stylesheet" type="text/css" href="{% static "library/bootstrap/dist/css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<script src="{% static "/static/library/jquery/jquery.min.js" %}"></script>

{% block js %} {% endblock %}
{% block css %} {% endblock %}
</head>
<body>



      <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #fff; border-bottom: 3px solid #981B1E">

          <div class="container">

            <div class="navbar-header">
              <a class="navbar-brand" style="color:  #981B1E; font-size: 20px; font-weight: bold; margin: 0; padding: 0" href="{% url 'home' %}"><img src="/static/logo.png" title="pressinfo.am"></a>
   
            
            </div>
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="float: right">
                
                
                  <li><a href="{% url 'page' 'about' %}">{% trans 'About us' %}</a></li>
                   
                       <li><a href="{% url 'page' 'help' %}">{% trans 'Help' %}</a></li>
                  <li><a href="{% url 'page' 'contact' %}">{% trans 'Contacts' %}</a></li>
                  <li><a href="{% url 'page' 'subscribe-to-newspapers-and-magazines' %}">{% trans 'Subscribe' %}</a></li>
                
                    {% if LANGUAGE_CODE == 'ru' %}
                        <li>
                            <a href="{% url 'main.views.change_language' %}?language=hy&next={{request.get_full_path}}">
                               <img src="{% static "ar.png" %}" title="{% trans 'Armenian' %}" />
                            </a>
                         </li><li>
                            <a href="{% url 'main.views.change_language' %}?language=en&next={{request.get_full_path}}">
                               <img src="{% static "uk.png" %}" title="{% trans 'English' %}" />
                            </a>                           
                        </li>
                    {% endif %}
                    {% if LANGUAGE_CODE == 'hy' %}
                      <li>
                            <a href="{% url 'main.views.change_language' %}?language=ru&next={{request.get_full_path}}">
                               <img src="{% static "ru.png" %}" title="{% trans 'Russian' %}" />
                            </a>
                       </li><li>
                            <a href="{% url 'main.views.change_language' %}?language=en&next={{request.get_full_path}}">
                               <img src="{% static "uk.png" %}" title="{% trans 'English' %}" />
                            </a>
                      </li>
                    {% endif %}
                    {% if LANGUAGE_CODE == 'en' %}
                        <li>
                           <a href="{% url 'main.views.change_language' %}?language=ru&next={{request.get_full_path}}">
                               <img src="{% static "ru.png" %}" title="{% trans 'Russian' %}" />
                           </a>
                        </li><li>
                            <a href="{% url 'main.views.change_language' %}?language=hy&next={{request.get_full_path}}">
                               <img src="{% static "ar.png" %}" title="{% trans 'Armenian' %}" />
                            </a>
                       </li>
                    {% endif %}                 
            </ul>
           
            </div><!--/.navbar-collapse -->
          </div>
      </div>


<div class="row" style="margin: 60px 10px 0 10px; ">

  
   

    <div class="col-md-10">
        <div class="well">
              {% block 'content' %}

              {% endblock %}
        </div>
    </div>
    
    
    
 <div class="col-md-2 well">
        {% if user.is_authenticated %}
          <a class="btn btn-danger pull-right" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
        {% else %}
        
        
            <div class="">
               
                <!-- Login form -->
                {% if not form.non_field_errors %}
                <ul class='errorlist'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                
                <div class="login-signup-page">
                <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form_class">
                        {% csrf_token %}
                        <h2> {% trans 'Enter' %} </h2>

                                <div class="input-group margin-bottom-20">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input name="username" type="text" class="form-control" placeholder="{% trans 'Login' %}">
                                </div>
                                </br>
                                <div class="input-group margin-bottom-20">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" name="password"  class="form-control" placeholder="{% trans "Password" %}">


                                </div>
                                 </br>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                    <a href="{% url 'registration_register' %}" class="btn btn-success pull-left">{% trans "Registration" %}</a>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <button type="submit" class="btn btn-success pull-right">{% trans "Login" %}</button>
                                         
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                      <a href="{% url 'reset-password' %}" class="pull-right" >{% trans "Forgot your password?" %}</a>
                                    </div>
                                </div> 
                </form>
                   
                </div>
                <div style="clear: both"></div>
               <!-- /Login form -->
               {% endif %}
            </div>        
        
        {% endif %}
         
        {% catalog_tag t='paper' %}
        {% catalog_tag t='magazine' %}
        {% catalog_tag t='book' %}
    </div>    
    
    
    
</div>

<div align="center">

<a href="{% url 'page' 'about' %}">{% trans 'About us' %}</a> &nbsp;|&nbsp;
                 <a href="{% url 'page' 'advertiser' %}">{% trans 'For advertiser' %}</a>&nbsp;|&nbsp;
                 <a href="{% url 'page' 'agreement' %}">{% trans 'User agreement' %}</a>&nbsp;|&nbsp;
            <a href="{% url 'page' 'privacy' %}">{% trans 'Privacy' %}</a>&nbsp;|&nbsp;
                      <a href="{% url 'page' 'publisher' %}">{% trans 'For publisher' %}</a>&nbsp;|&nbsp;
                       <a href="{% url 'page' 'help' %}">{% trans 'Help' %}</a>&nbsp;|&nbsp;
                  <a href="{% url 'page' 'contact' %}">{% trans 'Contacts' %}</a>&nbsp;|&nbsp;

</div>

<br />

</body>
</html>
