{% load i18n %}
<div class="jcarousel-wrapper">
    <div class="jcarousel">
            <ul>
            {% for i in items %}
                <li>
                    <a href="{{ i.get_absolute_url }}">{{ i.get_cover }}</a>
                    <p><a href="{{ i.get_absolute_url }}">{{ i }}</a></p>
                  {% if i.journal.price_dram > 0 %}
                    <h3>{% trans 'Стоимость' %}: {{ i.journal.price_dram }} {% trans 'драм' %}</h3>
                  {% else %}
                        <h3>{% trans 'Бесплатно' %} </h3>
                  {% endif %}
                </li>
            {% endfor %}
            </ul>
   </div>
         
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

</div>


    
