{% extends 'base.html' %}
{% load simplepaginator %}
{% load i18n %}

{% block meta_title %}{{ catalog.name }} | {% trans 'Онлайн библиотека армянских и зарубежных печатных СМИ | Pressinfo.am' %} {% endblock %}

{% block 'content' %}

    {% for i in object_list %}
        <div class="journal_item">
            <a href="{{ i.get_absolute_url }}">{{ i.get_cover }}</a>
            <p><a href="{{ i.get_absolute_url }}">{{ i }}</a></p>
            {% if i.price_dram > 0 %}
            <p>{% trans 'Стоимость' %}: {{ i.price_dram }} {% trans 'драм' %}</p>
            {% else %}
              <p>{% trans 'Бесплатно' %} </p>
            {% endif %}
        </div>
    {% endfor %}
     <div style="clear: both"></div>
     {% if is_paginated %}
       {% simplepaginator %}
    {% endif %}

{% endblock %}
