{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ journal.seo_title }}{% endblock %}
{% block meta_description %}{{ journal.seo_content }}{% endblock %}
{% block meta_keywords %}{{ journal.seo_keywords }}{% endblock %}

{% block 'content' %}

      <h1>{{ journal }}</h1>
      <div class="col-md-3">
       {{ journal.get_cover }}
      </div>
      <div class="col-md-9">
      {% if journal.price_dram > 0 %}
        <h3>{% trans 'Стоимость' %}: {{ journal.price_dram }} {% trans 'драм' %}</h3>
      {% else %}
            <h3>{% trans 'Бесплатно' %} </h3>
      {% endif %}
      <p> {% trans 'Последний выпуск ' %} {{ journal.get_last_issue.name }} {% trans 'от' %} {{ journal.get_last_issue.date }}</p>
      <p>{{ journal.description | safe }}</p>
      </div>
      <div align="center"> </div>
      <div style="clear: both"></div>

      <h2>{% trans 'Выпуски' %}</h2>
      {% for i in issues %}
        <div class="journal_item">
          {{ i.get_cover }}
          <p>{{ i.name }}</p>

           
            {% include "catalog/read_link.html" with issue=i username=username %}
        </div>
      {% endfor %}
       <div style="clear: both"></div>

{% endblock %}
