{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ journal.seo_title }}{% endblock %}
{% block meta_description %}{{ journal.seo_content }}{% endblock %}
{% block meta_keywords %}{{ journal.seo_keywords }}{% endblock %}

{% block 'content' %}

      <h1>{{ journal }}</h1>
      <div class="col-md-3">
       {{ journal.get_cover }}
      </div>
      <div class="col-md-9">
      <h3>Стоимость: {{ journal.price }} {% trans 'руб' %}</h3>
      <p>{{ journal.description | safe }}</p>
      </div>
      <div style="clear: both"></div>

      <h2>Выпуски</h2>
      {% for i in issues %}
        <div class="journal_item">
          {{ i.get_cover }}
          <p>{{ i.name }}</p>

            <p><a href="{% url 'payment-pay' issue_id=i.id %}">{% trans 'Купить выпуск через paymaster' %}</a></p>
        </div>
      {% endfor %}
       <div style="clear: both"></div>

{% endblock %}
