{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ journal.seo_title }}{% endblock %}
{% block meta_description %}{{ journal.seo_content }}{% endblock %}
{% block meta_keywords %}{{ journal.seo_keywords }}{% endblock %}

{% block 'content' %}

      <h1>Моя библиотека</h1>
      {% for i in items %}
         <div class="journal_item">
          <a target="_blank" href="http://pressa.ru/rlogin/{{username}}/{{i.issue.original_id}}">{{ i.issue.get_cover }}</a>
          <p>{{ i.issue.name }}</p>

            <p><a target="_blank" href="http://pressa.ru/rlogin/{{ request.user.get_alias }}/{{i.issue.original_id}}">{% trans 'Читать' %}</a></p>
        </div>
      {% endfor %}

{% endblock %}
