{% load i18n %}
<h2 style="color: #981B1E"> {% trans 'Обзор прессы Армении' %} </h2> 
<div class="jcarousel-wrapper">
    <div class="jcarousel">
		<ul>
		    {% for i in items %}
		      {% if i.image %}
		       <li>
		       
		        <a target="_blank" href="{{i.link}}"> <img src="{{ i.image }}" /></a>
		       	<a  target="_blank" href="{{i.link}}">{{i.title}}</a> 

		       </li>
		       {% endif %}
		    {% endfor %}
		</ul>
	</div>

	                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

</div>


<script>

(function($) {
    $(function() {
        var jcarousel = $('.jcarousel');

        jcarousel
            .on('jcarousel:reload jcarousel:create', function () {
                var carousel = $(this),
                    width = carousel.innerWidth();

                if (width >= 600) {
                    width = width / 6;
                } else if (width >= 350) {
                    width = width / 3;
                }

                carousel.jcarousel('items').css('width', Math.ceil(width) + 'px');
            })
            .jcarousel({
                wrap: 'circular'
            });

        $('.jcarousel-control-prev')
            .jcarouselControl({
                target: '-=1'
            });

        $('.jcarousel-control-next')
            .jcarouselControl({
                target: '+=1'
            });

        $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .on('click', function(e) {
                e.preventDefault();
            })
            .jcarouselPagination({
                perPage: 1,
                item: function(page) {
                    return '<a href="#' + page + '">' + page + '</a>';
                }
            });
    });
})(jQuery);

</script>